<!DOCTYPE html>
<html>

<head>
  <link href='/css/style.css' rel='stylesheet' />
  <meta charset='utf-8' />
  <title>Loop Your Box</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/dashboard_pages.css">
  <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>


<body>
  <!-- NAVBAR -->
  <%- include('../../../layouts/navbar.ejs') -%>
  <a class="backBtn" onclick="window.history.back();"> <i class="fas fa-arrow-left"></i></a>
  <div class="container">
    <div class="row">
      <h2 class="sub_page-heading">Liste des utilisateurs</h2>
    </div>

    <% userInfo.forEach((user) => { %>
    <div class="user-item">
      <a href="/user/<%= user._id %>" class=""><%= user.firstname %></a>
      <form action="/api/userStatus/<%= user._id %>?_method=PUT" method="POST" class="">
        <select class="browser-default" id="status" name="status">
          <option value="admin" <% if (user.status=="admin"){%> selected <%}%>>Admin</option>
            <option value="partner" <% if (user.status=="partner"){%> selected <%}%>>Partenaire</option>
            <option value="member" <% if (user.status=="member"){%> selected <%}%>>Membre</option>
        </select>
        <button type="submit"><i class="fas fa-user-edit"></i></button>
      </form>
    </div>
      <% }) %> 
  <script src="/js/bin/materialize.js"></script>
  <script src="/js/bin/materialize-init.js"></script>
</body>

</html>